body {
    color: black;
    font-size: 18px;
}

header{
    background-color: lightgreen;
}

footer{
    background-color: lightgreen;
}

ul.a {
    list-style-type: square;
}

nav ul a,
nav ul a:link,
nav ul a:visited{
    background: indianred;
    box-shadow: lightcoral;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}
a:link, a:visited {
    background-color: lightgreen;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  } 

a:hover {
    background-color: antiquewhite;
}

.site-title {
    font-family: Arial, Helvetica, sans-serif; color: lightgreen;
}
